body {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-size: 22px;
   background: linear-gradient(90deg, #EECFBA, #C5DDE8);
   margin-top:-45px;
}

ul {
   list-style: none; 
   margin: 0 auto;
   padding-left: 0; 
   margin-top:10px;
   margin-bottom:20px;
 }
 a.abc {
   text-decoration: none; 
   background:#30A8E6; 
   color:#fff; 
   padding:1px; 
   font-family: arial; 
   border-radius:10px; 
 }
 li {

   margin-right:1px; 
   
 }